body {
  background-color: #242424;

}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  color: #ff0000;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 2px black;


}

p {
  color: red;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
text-align: center;
}

#answers{
  margin-left: 30%;
  margin-right: 28%;

}

#output {
  text-align: center;

}

.faces {
  margin-left: 26%;

}

button {
  color: red;
  display: inline;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  float: left;
  text-decoration: none;
  padding-right: 10px;
  background-color: #242424;
  margin-right: 10px;

}

#lastresort {
  color: red;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;

}


#apibutton{
  color: red;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  text-decoration: none;
  padding-right: 10px;
  background-color: #242424;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-right: 10%;
  margin-left: 42%;

}

#apititle {
  font-size: 20px;
  display: block;
}
